

<form action="">
<input type="checkbox" name="RD" value="Yes">Reviewed Dossier<br>
<input type="checkbox" name="RLoR" value="Yes">Read Letters of Recommendation <br>
<input type="checkbox" name="CEF" value="Yes">Completed Evaluation Form<br>
</form>
