<select>
  <option value="Ricardo">Ricardo</option>
  <option value="Calvin">Calvin@drek.edu</option>
  <option value="Banana">School of Monkeys Banana</option>
  <option value="QUAAD">Literal Farquaad</option>
</select>

<form action="http://localhost:3000/candidates_dossier">
<input type="submit" value="Select Candidate and View Dossier" style="margin-left: 200px; margin-top:  -30px">
</form>