<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @recusal.user.name %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @recusal.candidate.name %>
</p>
<br>
<%= link_to 'Done', recusals_path, class: 'btn btn-success' %>
