  <tr id = "department_section_<%= department_section.id %>">
  <td><%= department_section.section.name %></td>
  <td><%= link_to raw('<em class="fa fa-trash-o"></em> Remove'), department_section, method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge alert-danger' %></td>
  </tr>
