<p id="notice"><%= notice %></p>

<h1>Listing Department Sections</h1>

<% @department_sections.group_by(&:department).each do |department, department_sections| %>
  <h2><%= department.name %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Section</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% department_sections.each do |department_section| %>
      <%= render 'department_section', department_section: department_section %>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'New Department section', new_department_section_path %>
