<div style="background: url(images/b1.jpg) top left no-repeat; background-size: cover; height: 200px;">
            <div class="container" style="padding: 50px 20px">
                <h1>Welcome To the Dossier Wizard</h1>
                <h2>
This a step by step process to get your documents into one pdf for review. </br> You will be able to change your files at any time </br> Click on the Curriculum Vitae button on the bottom of the page to continue
                </h2>
            </div>
        </div>

<div class="text-center" style="margin-top: 100px; margin-left: 10px;">
Please make sure that you are able to upload files,<br> Check here with any files to see if they are too large:
</div>