<div style="background: url(images/b1.jpg) top left no-repeat; background-size: cover; height: 200px;">
            <div class="container" style="padding: 50px 20px">
                <h1>Welcome To the Dossier Wizard</h1>
                <h2>
This a step by step process to get your documents into one pdf for review. </br> You will be able to change your files at any time </br> Click on the Curriculum Vitae button on the bottom of the page to continue
                </h2>
            </div>
        </div>

<div style="margin-top: 100px; margin-left: 10px;">
<center>
Please make sure that you are able to upload files,</br> Check here with any files to see if they are to large:<br>
<input type="file" name="datafile" size="40">
<input type="submit" value="Upload" style="margin-left: -55px">
</center>

<div style="left: 20px; top: 500px;"> 
    <img src="/InitialBlue.png" alt="initialblue" width="140" height="35" onclick="location.href='http://localhost:3000/initial'" />
    <div style="margin-left:45px;">
    </div>
</div>

<div style="left: 160px; top: 500px;"> 
    <img src="/CV.png" alt="Curriculum Vitae" width="140" height="35" onclick="location.href='http://localhost:3000/curriculum_vitae'" />
</div>


<div style="left: 300px; top: 500px;"> 
    <img src="/TS.png" alt="Teaching Statement" width="140" height="35" onclick="location.href='http://localhost:3000/teaching_statement'" />
</div>

<div style="left: 440px; top: 500px;"> 
    <img src="/RS.png" alt="Research Statement" width="140" height="35" onclick="location.href='http://localhost:3000/researchstatement'" />
</div>

<div style="left: 580px; top: 500px;"> 
    <img src="/SS.png" alt ="Service Statement" width="140" height="35" onclick="location.href='http://localhost:3000/servicestatement'" />
</div>

<div style="left: 720px; top: 500px;"> 
    <img src="/AM.png" alt="Additional Materials" width="140" height="35" onclick="location.href='http://localhost:3000/additional_materials'" />
</div>


<div style="left: 1000px; top: 500px;"> 
    <img src="/Publish.png" alt="Publish" width="140" height="35" onclick="location.href='http://localhost:3000/publish'" />
</div>

<div style="left: 860px; top: 500px;"> 
    <img src="/Compiling.png" alt="Compiling" width="140" height="35" onclick="location.href='http://localhost:3000/compiling'" />
</div>

<div style="left: 50px; top: 0px;"> 
    <img src="/HOME.png" alt="Home" width="140" height="35" onclick="location.href='http://localhost:3000/homes'" />
</div>
</div

    <div class="page">
      <div class="nav-bar bg-color-red">
        <div class="nav-bar-inner padding10">
          <span class="pull-menu"></span>
          <a href="/">
            <span class="element brand">
              <span class="metro-ui-logo place-left"></span>
              <span class="name">UNM Tenure &amp; Promotion</span>
            </span>
          </a>

          <ul class="menu">
            <li><a href="/">Home</a></li>

            <li data-role="dropdown">
              <a href="#">Menu</a>
              <ul class="dropdown-menu">
                <li><a href="/users">Users</a></li>
                <li><a href="/candidate_profiles">Candidate Profiles</a></li>
              </ul>
            </li>
	    <li>Welcome, fdisk</li>
       <li style="margin-left: 600px" data-role="dropdown">
              <a href="#">Account</a>
              <ul class="dropdown-menu">
                <li><a href="https://129.24.24.151:8443/logout">Sign Out</a></li>
                <li><a href="https://129.24.24.151:8443/">Switch Accounts</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>