<div class="centered" style="margin-left: 5px;"><center>Welcome To The Dossier Wizard</center>
<center> This a step by step process to get your documents into one pdf for review. </br> You will be able to change your files at any time </br> Click on the Curriculum Vitae button on the bottom of the page to continue</center>
</div>

<div class="centered" style="margin-top: 100px; margin-left: 10px;">
<center>
Please make sure that you are able to upload files,</br> Check here with any files to see if they are to large:<br>
<input type="file" name="datafile" size="40">
<input type="submit" value="Upload" style="margin-left: -55px">
</center>

<div style="position: absolute; left: 20px; top: 500px;"> 
    <img src="/InitialBlue.png" width="140" height="35" onclick="location.href='http://localhost:3000/initial'" />
    <div style="margin-left:45px; margin-top:600px; ">
    </div>
</div>

<div style="position: absolute; left: 160px; top: 500px;"> 
    <img src="/CV.png" width="140" height="35" onclick="location.href='http://localhost:3000/curriculum_vitae'" />
</div>


<div style="position: absolute; left: 300px; top: 500px;"> 
    <img src="/TS.png" width="140" height="35" onclick="location.href='http://localhost:3000/teaching_statement'" />
</div>

<div style="position: absolute; left: 440px; top: 500px;"> 
    <img src="/RS.png" width="140" height="35" onclick="location.href='http://localhost:3000/researchstatement'" />
</div>

<div style="position: absolute; left: 580px; top: 500px;"> 
    <img src="/SS.png" width="140" height="35" onclick="location.href='http://localhost:3000/servicestatement'" />
</div>

<div style="position: absolute; left: 720px; top: 500px;"> 
    <img src="/AM.png" width="140" height="35" onclick="location.href='http://localhost:3000/additional_materials'" />
</div>


<div style="position: absolute; left: 1000px; top: 500px;"> 
    <img src="/Publish.png" width="140" height="35" onclick="location.href='http://localhost:3000/publish'" />
</div>

<div style="position: absolute; left: 860px; top: 500px;"> 
    <img src="/Compiling.png" width="140" height="35" onclick="location.href='http://localhost:3000/compiling'" />
</div>

<div style="position: absolute; left: 50px; top: 0px;"> 
    <img src="/HOME.png" width="140" height="35" onclick="location.href='http://localhost:3000/homes'" />
</div>
