<div class="centered" style="margin-left: 300px; margin-top: 0px">
<h5>Are you satisfied with your dossier?</h5>
<form action="">

<INPUT id="Yes" type="radio" value="1" name="Yes" style="margin-left: 77px" >Yes
<INPUT id="Yes" type="radio" value="2" name="Yes" style="margin-left: 15px">No</br></br>
<input type="submit" value="Publish" style="margin-left: 75px">
</div>