<h1>Listing Candidate Profiles</h1></br>


<% @candidate_profiles.each do |candidate_profile| %>
<div>
  <%= link_to candidate_profile.user.full_name, candidate_profile %>
</div>
<% end %>
</br></br>
<%= link_to 'Home Page', homes_path %>
