<p id="notice"><%= notice %></p>
</br></br>
<h5> Candidate's Dossier </h5>
<button type="button">Download Files</button></br>
<h5> Letter of Recomendation </h5>
<input type="file" name="datafile" size="40"></br>
</p>
<div>
<input type="submit" value="Send">
</div>
</form>
<p>
  <h5>Additional Materials:</h5>
  <%= @candidate_profile.Additional_Materials %>
</p>

<h5>Should this person be given tenure </h5>
<form action="">

<INPUT id="Yes" type="radio" value="1" name="Yes" >Yes
<INPUT id="Yes" type="radio" value="2" name="Yes">No</br></br>

<%= link_to 'Edit', edit_candidate_profile_path(@candidate_profile) %> |
<%= link_to 'Back', candidate_profiles_path %>
