<h1 align="center" style="position: absolute; left: 450px; top: 0px;">Welcome, Shrek <br /> </br> to the UNM T&P app</h1>

<div style="position: absolute; left: 240px; top: 300px;"> 
    <img src="http://i.imgur.com/x0YWahS.png?1" width="260" height="130" onclick="location.href='http://localhost:3000/tenure_review_guidlines#index'" />
    <div style="margin-left:45px; margin-top:600px; ">
    </div>
</div>


<div style="position: absolute; right: 240px; top: 300px;"> 
    <img src="http://i.imgur.com/FWvFla5.png?1" width="260" height="130" onclick="DoSomething();" />
    <div style="margin-left:45px; margin-top:600px; ">
    </div>
</div>
