<h1 class="text-center text-success">Download your Dossier!</h1>

<br>

<%# These next few lines are for testing only %>
<%# @user.Categories.each do |category| %>
  <%# category.Uploads.each do |upload| %>
    <%# upload.upload.inspect %>
  <%# end %>
<%# end %>

<%= link_to 'Download', "http://#{local_ip}/#{session[:cas_user]}.pdf", :class => "btn btn-info" %>
<%= link_to 'Start Over', users_path, :class => "btn btn-danger" %>
<%# link_to 'New Convert', new_convert_path %>
