<h1>Listing converts</h1>

<table>
  <thead>
    <tr>
      <th>Download</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @converts.each do |convert| %>
      <tr>
        <td><%= convert.download %></td>
        <td><%= convert.user %></td>
        <td><%# link_to 'Show', convert %></td>
        <td><%# link_to 'Edit', edit_convert_path(convert) %></td>
        <td><%# link_to 'Destroy', convert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Download', "http://#{local_ip}/#{session[:cas_user]}.pdf" %>
<%# link_to 'New Convert', new_convert_path %>
