<h1 align="center" style="position: absolute; left: 450px; top: 0px;"> Tenure Review Guidelines</h1>

<a  class="centered" style="margin-top: 100px;" href="http://localhost:3000/homes">HomePage</a>

<object class="centered" data="CE Policy.pdf" type="application/pdf" width="100%" height="100%">
 
  <p>It appears you don't have a PDF plugin for this browser.
  Click here <a href="CE Policy.pdf"> to
  download the PDF file.</a></p>
  
</object>



