
<div class="container">
<object data="CE Policy.pdf" type="application/pdf" style="width: 100%; height: 1080px">
  <p>It appears you don't have a PDF plugin for this browser.
  Click here <a href="CE Policy.pdf"> to
  download the PDF file.</a></p>
</object>
</div>