<h2 class="centered" position="scroll">Welcome, Greg Heileman </h2>
<h4 class="centered" style="margin-top: 100px"> Please select Your Department and College</h4>
<p> department
<select style="margin-top: 150px">
  <option value="Electrical">Electrical</option>
  <option value="Herbal">Herbal</option>
  <option value="Bio Medical">Bio Medical</option>
  <option value="Elementary">Elementary</option>
</select>


<p> College
<select >
  <option value="Law">Law</option>
  <option value="Engineering">Engineering</option>
  <option value="Medical">Medical</option>
  <option value="Education">Education</option>
</select>
