

<form action="">
<input type="checkbox" name="RD" value="Yes">Reviewed Dossier<br>
<input type="checkbox" name="RLoR" value="Yes">Read Letters of Recommendation <br>
<input type="checkbox" name="CEF" value="Yes">Completed Evaluation Form<br>
</form>

<a class="centered" style="margin-top: 0px; margin-left: 400px"> Cast Your Vote </a> <br />

<a class="centered" style="margin-top: 40px; margin-left: 160px" > Based On your Evaluation, should this candidate be given Tenure or Promotion </a>

<form action="http://localhost:3000/homes">
<input type="submit" value="Yes" style="margin-left: 350px; margin-top:  100px">
<input type="submit" value="No" style=" margin-top:  100px">
</form>

