  <%= @user.name %>
<% if @user.name==session[:cas_user] %>
HI
<% end %>
 <% @user.Uploads.each do |upload| %>
      <tr>
        <td><%= upload.upload.url %></td>
     </tr>
    <% end %>
 <% @convpass.each do |convert| %>
      <tr>
        <td><%= convert.download_link %></td>
     </tr>
    <% end %>
