  <%= @user.name %>
<% if @user.name==session[:cas_user] %>
Authorized
<% else %>
NOT ALLOWED
<% end %>
 <% @user.Uploads.each do |upload| %>
      <tr>
        <td><%= upload.upload.url %></td>
     </tr>
    <% end %>
 <% @convpass.each do |convert| %>
      <tr>
        <td><%= convert %></td>
     </tr>
    <% end %>
<%= link_to 'Download', "http://fdisk.co/tp/merge.pdf" %>
