<p>
  <strong>NetID:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.department %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user.department %>
</p>
