<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<img src="http://www.bosqueschool.org/uploads/images/unm%20logo.JPG">
</p>Hello <%= @candidate.name %>, and welcome to UNM's new application for the
review of Promotion, Tenure, Mid-Probationary term and Distinguished Professor
candidates.</p>

<p>This application is currently in a test environment. Please do not upload any personal information.</p>

<p>If you have any questions, contact your <%= @candidate.department %> college admin, or for technical issues, contact Ricardo:</p>
<p>Academic Affairs Applcation Developer<br>
<%= mail_to "fdisk122@unm.edu" %>
</body>
</html>

