<h1>APP IS IN TEST MODE</h1>
<p>Do not use the app for any sensitive data.</p>
<p>It is not secure or stable.</p>
<h2 class="text-center"><%= link_to "Click here to start!", users_path, :class => "text-success" %></h2>
