<!-- This is the disclaimer/license page -->
<h2><b>Welcome to UNM's Candidate Review Application</b></h2>
<p><h3>Designed to assist in the milestone review process for Promotion, Tenure, Mid-Probationary Term, and Distinguished Professor</h3></p>
<div class="panel panel-default">
  <div class="panel-heading">
  <h4>Sensitive and Protected Information Statement:</h4>
  </div>
  <div class="panel-body">

<p>When using online cloud services, you agree to act in accordance with applicable laws, regulations, and also in accordance with The University of New Mexico policies, procedures and operational controls regarding UNM sensitive and protected data as identified in UNM Policy 2520, which states: "Users are responsible for proper use and protection of University information and are prohibited from sharing information with unauthorized individuals." 2520 also states "Access to ... sensitive and protected information must be authorized by the department head and approved by the University designated data custodian."</p>

<p>For assistance with the operational controls for HIPAA information, please consult the HSC Privacy Office; for assistance with FERPA information, please consult the UNM Registrar. For all other sensitive or protected data, please open a HELP ticket, and the UNM Information Security and Privacy team will assist you in identifying the appropriate data steward.</p>
</div>
</div>
<div class="btn-toolbar">
<%= link_to "Accept", root_path, :class => "btn btn-success" %><%= link_to "Reject", "/logout", :class => "btn btn-danger" %>
</div>
