beginhtml=('<h2>All done!</h2>');
if (error > 0) {
  beginhtml += (error + ' errors<br>');
}

if (finished > 0) {
  beginhtml += (finished + ' complete<br>');
}
beginhtml += '<%= link_to "Download", current_user.dossier.url, class: "btn btn-info" %>';
$('#begin').html(beginhtml);
$('.progress').hide();
