$('#begin').html('<h2>All done!</h2>' + error + ' errors<br>' + finished + ' complete<br><%= link_to "Download", "http://#{local_ip}/#{session[:cas_user]}.pdf", :class => "btn btn-info" %>');
$('.progress').hide();
