<h1>UNM Tenure & Promotion Home Page</h1>





<div class="container" style="background: url(images/b1.jpg) top left no-repeat; background-size: contain; height: 200px; ">
            <div class="grid fluid">
                <div class="row">
<%= link_to 'Candidate View', candidate_view_path, :class => "tile bg-color-green" %>
<%= link_to 'Department Admin View', department_admin_view_path, :class => "tile bg-color-greenDark" %>
<%= link_to 'College Admin View', college_admin_view_path, :class => "tile bg-color-Black" %>
		</div>
	    </div>
</div>
