

<div class="centered">
<p class="centered" style="margin-left: 195px; margin-top: 200px"> Please wait while your dossier is constructed </p>
</div>




<div class="centered" style="margin-left: 325px; margin-top: 50px"> 
    <img src="3.gif"/>
</div>




<div style="position: absolute; left: 20px; top: 500px;"> 
    <img src="/Initial.png" width="140" height="35" onclick="location.href='http://localhost:3000/initial'" />
    <div style="margin-left:45px; margin-top:600px; ">
    </div>
</div>

<div style="position: absolute; left: 160px; top: 500px;"> 
    <img src="/CV.png" width="140" height="35" onclick="location.href='http://localhost:3000/curriculum_vitae'" />
</div>


<div style="position: absolute; left: 300px; top: 500px;"> 
    <img src="/TS.png" width="140" height="35" onclick="location.href='http://localhost:3000/teaching_statement'" />
</div>

<div style="position: absolute; left: 440px; top: 500px;"> 
    <img src="/RS.png" width="140" height="35" onclick="location.href='http://localhost:3000/researchstatement'" />
</div>

<div style="position: absolute; left: 580px; top: 500px;"> 
    <img src="/SS.png" width="140" height="35" onclick="location.href='http://localhost:3000/servicestatement'" />
</div>

<div style="position: absolute; left: 720px; top: 500px;"> 
    <img src="/AM.png" width="140" height="35" onclick="location.href='http://localhost:3000/additional_materials'" />
</div>


<div style="position: absolute; left: 1000px; top: 500px;"> 
    <img src="/Publish.png" width="140" height="35" onclick="location.href='http://localhost:3000/publish'" />
</div>

<div style="position: absolute; left: 860px; top: 500px;"> 
    <img src="/CompilingBlue.png" width="140" height="35" onclick="location.href='http://localhost:3000/compiling'" />
</div>


<div style="position: absolute; left: 50px; top: 0px;"> 
    <img src="/HOME.png" width="140" height="35" onclick="location.href='http://localhost:3000/homes'" />
</div>
