<a href="2015 Mid-Pro Dossier Organization of Contents and Files Naming Guidelines.doc" target='_blank' 
title="Click here to download the letters of recommendation">
Click here to download the letters of recommendation</a>