<select>
  <option value="Ricardo">Ricardo</option>
  <option value="Calvin">Calvin</option>
  <option value="Carter">Carter</option>
  <option value="Tyler">Tyler</option>
</select>

<form action="http://localhost:3000/candidates_dossier">
<input type="submit" value="Select Candidate and View Dossier" style="margin-left: 200px; margin-top:  -30px">
</form>