// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
    margin-top: 100px;
    margin-bottom: 5px;
    color: black;
    font-family: "Georgia";
    font-weight: normal;
    }

body {
    background-color: white;
    background-image: url(http://i.imgur.com/LWwzEiJ.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom ;
    margin-left: 150px;
    background-size: 100%; 
}

a {
	font-size:15pt;
	font-family:Times New Roman, Tahoma;
}

h5 {
	font-size:115%;
	font-family:Times New Roman, Tahoma;
}

