// Place all the styles related to the tenure_review_guidlines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.centered {
  position: fixed;
  width: 80%;
  margin: 0 auto;
  margin-top: 125px
}