<h2>Dossier Sections</h2>
<div class="list-group">
  <% @categories.each_with_index do |category,index| %>
    <%  unless current_user.role =~ /andida/ && category.name =~ /College|Department|Dean|External/ %>
      <%= link_to raw("<h4>#{category.name}</h4>"), category, class:"list-group-item list-group-item-warning text-center" %>
      &nbsp; 
    <% end %>
  <% end %>
</div>
<%= link_to 'Preview Your Dossier', '/compile', class: 'btn btn-primary' %>
<br><br>
