<h2>Dossier Sections</h2>
<table class="table table-striped table-hover warning">
  <tbody>
  <% @categories.each do |category| %>
    <%  unless current_user.role =~ /andida/ && category.name =~ /College|Department|Dean|External/ %>
      <tr>
      <td><%= link_to category.name, category, class: 'display: block;' %></td>
      <td><span class="badge"><%= category.uploads.length %></span></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<%= link_to 'Preview Your Dossier', '/compile', class: 'btn btn-primary' %>
<br><br>
