<p id="notice"><%= notice %></p>

<h2>
  <strong>Section:</strong>
  <%= @category.name %>
</h2>

<%= render 'uploader' %>
<%= link_to 'Back to Dossier Sections', categories_path, class: "btn btn-warning" %>
