<!-- This shows when conversions are done -->
<h2 class="text-center text-success">    <%= @counter %> file(s) converted</h2>
    <h3 class="text-center"><%= link_to 'Continue', converts_path, :class => "btn btn-info" %></h3>
