  <h2>Upload file</h2>
  <%#= form_for Upload.new, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
  <%= render 'form' %>
<h2 class="text-center"><%= link_to 'Continue', "/convert", :class => "btn btn-info" %></h2>
<h3 class="text-center text-error">May take some time.</h3>
