<!-- This is only here for debug purposes, to show the URL of the uploaded file -->
<p id="notice"><%= notice %></p>

<p>
  <strong>Downlad link:</strong>
  <%= "//#{local_ip}" + @upload.upload.url %>
</p>
